* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.menus-container {
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  display: flex;
  grid-template-columns: repeat(4, 400px);
  grid-template-rows: repeat(2, 370px);
  gap: 50px;
}

.menusItem {
  border: 1px solid #F2AF5C;
  ;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 270px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  font-size: 15px;
  color: black;
  text-align: center;
}

.menusItem img {
  max-width: 100%;
  height: auto;
}

.menusItem:hover {
  transform: scale(1.05);
  background-color: #f0f0f0;
}

.menu {
  background-attachment: scroll;
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: right;
  text-decoration: none;
  padding: 5px 30px 5px 10px;
}

.menu li a {
  padding: 2.5em;
  display: flex;
  text-decoration: none;
  color: #000000;
  flex-wrap: nowrap;
}

.menu li a:hover {
  color: white;
}

.titulo {
  display: flex;
  left: 10px;
  margin: 10px;
  color: #F2F2F2;
  text-shadow: 4px 3px 4px black;
  font-size: 45px;
  -webkit-text-stroke: 1px white;
  font-weight: bold;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: url(../Img/tequenosback.png) no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 9%;
  left: 0;
  top: 0;
  background-color: #F2AF5C;
}

.text-content {
  display: flexbox;
  align-items: center;
  align-content: center;
  text-align: left;
  padding: 10%;
}

.letra {
  font-size: 350%;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #0f0f0f;
  text-shadow: left #35d65d;
}

.name {
  background: #ccc;
  background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(247, 216, 4, 1) 20%, rgba(0, 0, 255, 1) 50%, rgba(255, 0, 0, 1) 80%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  /* background solo en texto*/
  font-size: 400%;
  font-weight: 700;
  -webkit-text-stroke: 2px #0a0a0a;
}

.sabor-uni {
  color: black;
  font-size: 300%;
  font-weight: bold;
  margin: 5px 0;
  display: flex;
}

.letramovil {
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #f1f3f3;
  animation: typing 6s steps(15) infinite;
}

@keyframes typing {
  5% {
    width: 0ch;
  }

  50% {
    width: 15ch;
  }

  0% {
    width: 10ch;
  }
}

.amarillo {
  color: yellow;
}

.azul {
  color: #094cd0;
}

.rojo {
  color: red;
}

button {
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  background-color: yellow;
}

button:hover {
  background-color: #e76108;
  text-decoration: none;
  box-shadow: 3px 5px 6px 1px black;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer {
  width: 100%;
  background: #F2AF5C;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: auto;
  text-decoration: none;
  list-style: none;
  text-decoration: none;
}

.container-menu {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 400px);
  gap: 100px;
}

.container-producto {
  display: block;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 70px;
  padding: 50px;
  background-color: #cc4406;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px;
  font-size: 10px;
}

.cont-titulo {
  margin-bottom: 10px;
  color: black;
  text-align: center;
  padding: 10px;
  font-size: 10px;
}

.cont-img {
  display: block;
  width: auto;
  max-width: 250px;
  height: auto;
  max-height: 250px;
  border: 2px solid black;
  border-radius: 20px;
}

.cont-precio {
  display: block;
  background-color: #c7c7c7;
  color: black;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

.formulario {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 50px;
  background-color: #F2F2F2;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px;
  font-size: 18px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
input[type="reset"] {
  display: inline-block;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border-style: none;
  font-size: 18px;
  background-color: yellow;
  cursor: pointer;
}

.envioformu:hover {
  background-color: #e76108;
  text-decoration: none;
  box-shadow: 3px 5px 6px 1px black;
}

.reset:hover {
  background-color: #e76108;
  text-decoration: none;
  box-shadow: 3px 5px 6px 1px black;
}

.somos {
  margin-bottom: 10px;
  letter-spacing: 9px;
  font-size: 42px;
  color: black;
  text-align: center;
  text-shadow: 2px 2px 1px gray;
}

.nodudes {
  text-align: center;
  color: black;
}

a {
  font-size: 20px;
  font-weight: Poppins',sans-serif;
}

.error {
  color: #ff0000;
}

.slideshow-container {
  max-width: 500px;
  width: auto;
  max-height: 500px;
  height: auto;
  position: relative;
  margin: auto;
  display: inline;
}

.mySlides {
  display: none;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.somos1 {
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 50px;
  background-color: #F2F2F2;
  border-radius: 20px;
  box-shadow: 5px 5px 15px 2px;
  font-size: 18px;
  box-sizing: border-box;
  animation-name: border;
  animation-duration: 10s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes border {
  0% {
    border-radius: 20%;
  }

  5% {
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
  }
}

.somos2 {
  text-align: center;

}

.somos3 {
  color: rgb(0, 0, 0)
}

a {
  text-decoration: none;
}

.hh {
  padding-left: 100px 100px 100px 100px;
  color: rgba(12, 12, 12, 0.945);
  padding: 9px;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  text-decoration: none;
}

.hh:hover {
  letter-spacing: 1px;
  padding-left: 1px;
  padding-right: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

a:active {
  color: rgb(241, 198, 181);
}

#spacing {
  word-spacing: -5px;
}

footer p {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

iframe {
  width: 100%;
  height: 300px;
  border: none;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(2, 20%);
    gap: 15%;
  }

  .menu li a {
    padding: 1.5em;
  }

  .somos1, .formulario {
      width: 90%;
  }
  .letra, .name {
    font-size: xx-large;
  }
  .sabor-uni {
    font-size: x-large;
  }
}

@media only screen and (max-width: 768px) {
  /* Estilos específicos para pantallas más pequeñas */
  header {
    display: flex;
    flex-wrap: wrap;
  }

  .menu {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(2, 20%);
    gap: 15%;
  }

  .menu li a {
    padding: 1.5em;
  }
  
  .somos1, .formulario {
      width: 90%;
  }
  .letra, .name {
    font-size: xx-large;
  }
  .sabor-uni {
    font-size: x-large;
  }
}

@media only screen and (min-width: 1280px) {
  /* Estilos para pantallas grandes (desktops) */
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
  /* Estilos para pantallas con alta resolución */
}

@media only screen and (max-width: 767px) and (max-resolution: 120dpi) {
  /* Estilos para pantallas con baja resolución */
  header {
    display: flex;
    flex-wrap: wrap;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(2, 20%);
    gap: 15%;
  }

  .menu li a {
    padding: 1.5em;
  }

  .somos1, .formulario {
      width: 90%;
  }
  .letra, .name {
    font-size: xx-large;
  }
  .sabor-uni {
    font-size: x-large;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  /* Estilos para pantallas medianas (laptops) */
}
